language: node_js
node_js:
  - '12'

os:
  - windows

before_script:
- choco install googlechrome --ignore-checksums

install:
- npm ci

# defaults: &defaults
#   script:
#     #   ## print all Travis environment variables for debugging
#     - npm run tests:chrome

jobs:
  include:
    # we have multiple jobs to execute using just a single stage
    # but we can pass group name via environment variable to Cypress test runner
    - stage: test
      name: "Unit Tests 1" 
      script: npm run tests:chrome
    - script: npm run tests:chrome
      name: "Unit Tests 2" 
    - script: npm run tests:chrome
      name: "Unit Tests 3" 