name: e2e
on: [push]

jobs:
  test:
    name: Run TestCafe Tests
    runs-on: windows-latest
    strategy:
        matrix:
          test-file:
            - ./tests/parallel/*.spec.js
            - ./tests/parallel2/*.spec.js
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
      - name: Run tests
        uses: DevExpress/testcafe-action@latest
        with:
            args: "chrome ${{ matrix['test-file'] }} --skip-js-errors --env=dev"